# To-Do Task

Problem 1 - Sorting:
1. Create a DataFrame called fare that contains only the Fare column of the Titanic dataset. Print the
head of the result.
2. Create a DataFrame called class age that contains only the Pclass and Age columns of the Titanic
dataset, in that order. Print the head of the result.
3. Create a DataFrame called survived gender that contains the Survived and Sex columns of the
Titanic dataset, in that order.Print the head of the result.

In [41]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [42]:
import pandas as pd
dataset = pd.read_csv("/content/drive/MyDrive/Datasets/Titanic-Dataset.csv");
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [43]:
# Create a DataFrame called fare with titanic dataset

fare = pd.DataFrame(dataset['Fare'])
print(fare.head())

      Fare
0   7.2500
1  71.2833
2   7.9250
3  53.1000
4   8.0500

In [44]:
# Create a DataFrame called class age that contains only the Pclass and Age columns of the Titanic dataset

class_age = pd.DataFrame(dataset[['Pclass', 'Age']])
print(class_age.head())

   Pclass   Age
0       3  22.0
1       1  38.0
2       3  26.0
3       1  35.0
4       3  35.0

In [45]:
# Create a DataFrame called survived gender that contains the Survived and Sex columns of the Titanic dataset
survived_gender = pd.DataFrame(dataset[['Survived', 'Sex']])
print(survived_gender.head())

   Survived     Sex
0         0    male
1         1  female
2         1  female
3         1  female
4         0    male

Problem - 2 - Subsetting:

Subsetting Rows:
1. Filter the Titanic dataset for cases where the passenger’s fare is greater than 100, assigning it
to fare gt 100.View the printed result.
2. Filter the Titanic dataset for cases where the passenger’s class (Pclass) is 1, assigning it to
first class.View the printed result.
3. Filter the Titanic dataset for cases where the passenger’s age is less than 18 and the passenger
is female (Sex is "female"), assigning it to female under 18. View the printed result.

Subsetting Rows by Categorical variables:
1. Filter the Titanic dataset for passengers whose Embarked port is either "C" (Cherbourg) or "S"
(Southampton), assigning the result to embarked c or s. View the printed result.
2. Filter the Titanic dataset for passengers whose Pclass is in the list [1, 2] (indicating first
or second class), assigning the result to first second class.View the printed result.

In [70]:
# subsetting Rows

# Filter the Titanic dataset for cases where the passenger’s fare is greater than 100, assigning it to fare gt 100

fare_gt_100 = dataset[dataset['Fare'] > 100]
print("Filtering the dataset for fare greater than 100:\n",fare_gt_100)

Filtering the dataset for fare greater than 100:
      PassengerId  Survived  Pclass  \
27            28         0       1
31            32         1       1
88            89         1       1
118          119         0       1
195          196         1       1
215          216         1       1
258          259         1       1
268          269         1       1
269          270         1       1
297          298         0       1
299          300         1       1
305          306         1       1
306          307         1       1
307          308         1       1
311          312         1       1
318          319         1       1
319          320         1       1
325          326         1       1
332          333         0       1
334          335         1       1
337          338         1       1
341          342         1       1
373          374         0       1
377          378         0       1
380          381         1       1
390          391         1       1
393          394         1       1
435          436         1       1
438          439         0       1
498          499         0       1
505          506         0       1
527          528         0       1
537          538         1       1
544          545         0       1
550          551         1       1
557          558         0       1
581          582         1       1
609          610         1       1
659          660         0       1
660          661         1       1
679          680         1       1
689          690         1       1
698          699         0       1
700          701         1       1
708          709         1       1
716          717         1       1
730          731         1       1
737          738         1       1
742          743         1       1
763          764         1       1
779          780         1       1
802          803         1       1
856          857         1       1

                                                  Name     Sex    Age  SibSp  \
27                      Fortune, Mr. Charles Alexander    male  19.00      3
31      Spencer, Mrs. William Augustus (Marie Eugenie)  female    NaN      1
88                          Fortune, Miss. Mabel Helen  female  23.00      3
118                           Baxter, Mr. Quigg Edmond    male  24.00      0
195                               Lurette, Miss. Elise  female  58.00      0
215                            Newell, Miss. Madeleine  female  31.00      1
258                                   Ward, Miss. Anna  female  35.00      0
268      Graham, Mrs. William Thompson (Edith Junkins)  female  58.00      0
269                             Bissette, Miss. Amelia  female  35.00      0
297                       Allison, Miss. Helen Loraine  female   2.00      1
299    Baxter, Mrs. James (Helene DeLaudeniere Chaput)  female  50.00      0
305                     Allison, Master. Hudson Trevor    male   0.92      1
306                            Fleming, Miss. Margaret  female    NaN      0
307  Penasco y Castellana, Mrs. Victor de Satode (M...  female  17.00      1
311                         Ryerson, Miss. Emily Borie  female  18.00      2
318                           Wick, Miss. Mary Natalie  female  31.00      0
319  Spedden, Mrs. Frederic Oakley (Margaretta Corn...  female  40.00      1
325                           Young, Miss. Marie Grice  female  36.00      0
332                          Graham, Mr. George Edward    male  38.00      0
334  Frauenthal, Mrs. Henry William (Clara Heinshei...  female    NaN      1
337                    Burns, Miss. Elizabeth Margaret  female  41.00      0
341                     Fortune, Miss. Alice Elizabeth  female  24.00      3
373                                Ringhini, Mr. Sante    male  22.00      0
377                          Widener, Mr. Harry Elkins    male  27.00      0
380                              Bidois, Miss. Rosalie  female  42.00      0
390                         Carter, Mr. William Ernest    male  36.00      1
393                             Newell, Miss. Marjorie  female  23.00      1
435                          Carter, Miss. Lucile Polk  female  14.00      1
438                                  Fortune, Mr. Mark    male  64.00      1
498    Allison, Mrs. Hudson J C (Bessie Waldo Daniels)  female  25.00      1
505         Penasco y Castellana, Mr. Victor de Satode    male  18.00      1
527                                 Farthing, Mr. John    male    NaN      0
537                                LeRoy, Miss. Bertha  female  30.00      0
544                         Douglas, Mr. Walter Donald    male  50.00      1
550                        Thayer, Mr. John Borland Jr    male  17.00      0
557                                Robbins, Mr. Victor    male    NaN      0
581  Thayer, Mrs. John Borland (Marian Longstreth M...  female  39.00      1
609                          Shutes, Miss. Elizabeth W  female  40.00      0
659                         Newell, Mr. Arthur Webster    male  58.00      0
660                      Frauenthal, Dr. Henry William    male  50.00      2
679                 Cardeza, Mr. Thomas Drake Martinez    male  36.00      0
689                  Madill, Miss. Georgette Alexandra  female  15.00      0
698                           Thayer, Mr. John Borland    male  49.00      1
700  Astor, Mrs. John Jacob (Madeleine Talmadge Force)  female  18.00      1
708                               Cleaver, Miss. Alice  female  22.00      0
716                      Endres, Miss. Caroline Louise  female  38.00      0
730                      Allen, Miss. Elisabeth Walton  female  29.00      0
737                             Lesurer, Mr. Gustave J    male  35.00      0
742              Ryerson, Miss. Susan Parker "Suzette"  female  21.00      2
763          Carter, Mrs. William Ernest (Lucile Polk)  female  36.00      1
779  Robert, Mrs. Edward Scott (Elisabeth Walton Mc...  female  43.00      0
802                Carter, Master. William Thornton II    male  11.00      1
856         Wick, Mrs. George Dennick (Mary Hitchcock)  female  45.00      1

     Parch    Ticket      Fare            Cabin Embarked  Fare_per_Year  \
27       2     19950  263.0000      C23 C25 C27        S      13.842105
31       0  PC 17569  146.5208              B78        C            NaN
88       2     19950  263.0000      C23 C25 C27        S      11.434783
118      1  PC 17558  247.5208          B58 B60        C      10.313367
195      0  PC 17569  146.5208              B80        C       2.526221
215      0     35273  113.2750              D36        C       3.654032
258      0  PC 17755  512.3292              NaN        C      14.637977
268      1  PC 17582  153.4625             C125        S       2.645905
269      0  PC 17760  135.6333              C99        S       3.875237
297      2    113781  151.5500          C22 C26        S      75.775000
299      1  PC 17558  247.5208          B58 B60        C       4.950416
305      2    113781  151.5500          C22 C26        S     164.728261
306      0     17421  110.8833              NaN        C            NaN
307      0  PC 17758  108.9000              C65        C       6.405882
311      2  PC 17608  262.3750  B57 B59 B63 B66        C      14.576389
318      2     36928  164.8667               C7        S       5.318281
319      1     16966  134.5000              E34        C       3.362500
325      0  PC 17760  135.6333              C32        C       3.767592
332      1  PC 17582  153.4625              C91        S       4.038487
334      0  PC 17611  133.6500              NaN        S            NaN
337      0     16966  134.5000              E40        C       3.280488
341      2     19950  263.0000      C23 C25 C27        S      10.958333
373      0  PC 17760  135.6333              NaN        C       6.165150
377      2    113503  211.5000              C82        C       7.833333
380      0  PC 17757  227.5250              NaN        C       5.417262
390      2    113760  120.0000          B96 B98        S       3.333333
393      0     35273  113.2750              D36        C       4.925000
435      2    113760  120.0000          B96 B98        S       8.571429
438      4     19950  263.0000      C23 C25 C27        S       4.109375
498      2    113781  151.5500          C22 C26        S       6.062000
505      0  PC 17758  108.9000              C65        C       6.050000
527      0  PC 17483  221.7792              C95        S            NaN
537      0  PC 17761  106.4250              NaN        C       3.547500
544      0  PC 17761  106.4250              C86        C       2.128500
550      2     17421  110.8833              C70        C       6.522547
557      0  PC 17757  227.5250              NaN        C            NaN
581      1     17421  110.8833              C68        C       2.843162
609      0  PC 17582  153.4625             C125        S       3.836563
659      2     35273  113.2750              D48        C       1.953017
660      0  PC 17611  133.6500              NaN        S       2.673000
679      1  PC 17755  512.3292      B51 B53 B55        C      14.231367
689      1     24160  211.3375               B5        S      14.089167
698      1     17421  110.8833              C68        C       2.262924
700      0  PC 17757  227.5250          C62 C64        C      12.640278
708      0    113781  151.5500              NaN        S       6.888636
716      0  PC 17757  227.5250              C45        C       5.987500
730      0     24160  211.3375               B5        S       7.287500
737      0  PC 17755  512.3292             B101        C      14.637977
742      2  PC 17608  262.3750  B57 B59 B63 B66        C      12.494048
763      2    113760  120.0000          B96 B98        S       3.333333
779      1     24160  211.3375               B3        S       4.914826
802      2    113760  120.0000          B96 B98        S      10.909091
856      1     36928  164.8667              NaN        S       3.663704

     Fare_per_class Age_Group
27         263.0000     adult
31         146.5208       NaN
88         263.0000     adult
118        247.5208     adult
195        146.5208     adult
215        113.2750     adult
258        512.3292     adult
268        153.4625     adult
269        135.6333     adult
297        151.5500     child
299        247.5208     adult
305        151.5500     child
306        110.8833       NaN
307        108.9000     child
311        262.3750     child
318        164.8667     adult
319        134.5000     adult
325        135.6333     adult
332        153.4625     adult
334        133.6500       NaN
337        134.5000     adult
341        263.0000     adult
373        135.6333     adult
377        211.5000     adult
380        227.5250     adult
390        120.0000     adult
393        113.2750     adult
435        120.0000     child
438        263.0000     adult
498        151.5500     adult
505        108.9000     child
527        221.7792       NaN
537        106.4250     adult
544        106.4250     adult
550        110.8833     child
557        227.5250       NaN
581        110.8833     adult
609        153.4625     adult
659        113.2750     adult
660        133.6500     adult
679        512.3292     adult
689        211.3375     child
698        110.8833     adult
700        227.5250     child
708        151.5500     adult
716        227.5250     adult
730        211.3375     adult
737        512.3292     adult
742        262.3750     adult
763        120.0000     adult
779        211.3375     adult
802        120.0000     child
856        164.8667     adult

In [71]:
# Filter the Titanic dataset for cases where the passenger’s class (Pclass) is 1, assigning it to first_class

first_class = dataset[dataset['Pclass'] == 1]
print("Filtering the dataset for passenger's class is 1:\n", first_class)

Filtering the dataset for passenger's class is 1:
      PassengerId  Survived  Pclass  \
1              2         1       1
3              4         1       1
6              7         0       1
11            12         1       1
23            24         1       1
..           ...       ...     ...
871          872         1       1
872          873         0       1
879          880         1       1
887          888         1       1
889          890         1       1

                                                  Name     Sex   Age  SibSp  \
1    Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
6                              McCarthy, Mr. Timothy J    male  54.0      0
11                            Bonnell, Miss. Elizabeth  female  58.0      0
23                        Sloper, Mr. William Thompson    male  28.0      0
..                                                 ...     ...   ...    ...
871   Beckwith, Mrs. Richard Leonard (Sallie Monypeny)  female  47.0      1
872                           Carlsson, Mr. Frans Olof    male  33.0      0
879      Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)  female  56.0      0
887                       Graham, Miss. Margaret Edith  female  19.0      0
889                              Behr, Mr. Karl Howell    male  26.0      0

     Parch    Ticket     Fare        Cabin Embarked  Fare_per_Year  \
1        0  PC 17599  71.2833          C85        C       1.875876
3        0    113803  53.1000         C123        S       1.517143
6        0     17463  51.8625          E46        S       0.960417
11       0    113783  26.5500         C103        S       0.457759
23       0    113788  35.5000           A6        S       1.267857
..     ...       ...      ...          ...      ...            ...
871      1     11751  52.5542          D35        S       1.118174
872      0       695   5.0000  B51 B53 B55        S       0.151515
879      1     11767  83.1583          C50        C       1.484970
887      0    112053  30.0000          B42        S       1.578947
889      0    111369  30.0000         C148        C       1.153846

     Fare_per_class Age_Group
1           71.2833     adult
3           53.1000     adult
6           51.8625     adult
11          26.5500     adult
23          35.5000     adult
..              ...       ...
871         52.5542     adult
872          5.0000     adult
879         83.1583     adult
887         30.0000     adult
889         30.0000     adult

[216 rows x 15 columns]

In [72]:
# the passenger’s age is less than 18 and the passenger is female (Sex is "female"), assigning it to female under 18.

female_under_18 = dataset[(dataset['Age'] < 18) & (dataset['Sex'] == 'female')]
print("Filtering the dataset where passenger's age is less than 18 and gender is female:\n", female_under_18)

Filtering the dataset where passenger's age is less than 18 and gender is female:
      PassengerId  Survived  Pclass  \
9             10         1       2
10            11         1       3
14            15         0       3
22            23         1       3
24            25         0       3
39            40         1       3
43            44         1       2
58            59         1       2
68            69         1       3
71            72         0       3
84            85         1       2
111          112         0       3
114          115         0       3
119          120         0       3
147          148         0       3
156          157         1       3
172          173         1       3
184          185         1       3
205          206         0       3
208          209         1       3
233          234         1       3
237          238         1       2
297          298         0       1
307          308         1       1
329          330         1       1
374          375         0       3
381          382         1       3
389          390         1       2
419          420         0       3
435          436         1       1
446          447         1       2
448          449         1       3
469          470         1       3
479          480         1       3
504          505         1       1
530          531         1       2
535          536         1       2
541          542         0       3
542          543         0       3
618          619         1       2
634          635         0       3
642          643         0       3
644          645         1       3
689          690         1       1
691          692         1       3
720          721         1       2
750          751         1       2
777          778         1       3
780          781         1       3
781          782         1       1
813          814         0       3
830          831         1       3
852          853         0       3
853          854         1       1
875          876         1       3

                                                  Name     Sex    Age  SibSp  \
9                  Nasser, Mrs. Nicholas (Adele Achem)  female  14.00      1
10                     Sandstrom, Miss. Marguerite Rut  female   4.00      1
14                Vestrom, Miss. Hulda Amanda Adolfina  female  14.00      0
22                         McGowan, Miss. Anna "Annie"  female  15.00      0
24                       Palsson, Miss. Torborg Danira  female   8.00      3
39                         Nicola-Yarred, Miss. Jamila  female  14.00      1
43            Laroche, Miss. Simonne Marie Anne Andree  female   3.00      1
58                        West, Miss. Constance Mirium  female   5.00      1
68                     Andersson, Miss. Erna Alexandra  female  17.00      4
71                          Goodwin, Miss. Lillian Amy  female  16.00      5
84                                 Ilett, Miss. Bertha  female  17.00      0
111                               Zabour, Miss. Hileni  female  14.50      1
114                              Attalah, Miss. Malake  female  17.00      0
119                  Andersson, Miss. Ellis Anna Maria  female   2.00      4
147                   Ford, Miss. Robina Maggie "Ruby"  female   9.00      2
156                   Gilnagh, Miss. Katherine "Katie"  female  16.00      0
172                       Johnson, Miss. Eleanor Ileen  female   1.00      1
184                Kink-Heilmann, Miss. Luise Gretchen  female   4.00      0
205                         Strom, Miss. Telma Matilda  female   2.00      0
208                          Carr, Miss. Helen "Ellen"  female  16.00      0
233                     Asplund, Miss. Lillian Gertrud  female   5.00      4
237                   Collyer, Miss. Marjorie "Lottie"  female   8.00      0
297                       Allison, Miss. Helen Loraine  female   2.00      1
307  Penasco y Castellana, Mrs. Victor de Satode (M...  female  17.00      1
329                       Hippach, Miss. Jean Gertrude  female  16.00      0
374                         Palsson, Miss. Stina Viola  female   3.00      3
381                        Nakid, Miss. Maria ("Mary")  female   1.00      0
389                              Lehmann, Miss. Bertha  female  17.00      0
419                          Van Impe, Miss. Catharina  female  10.00      0
435                          Carter, Miss. Lucile Polk  female  14.00      1
446                  Mellinger, Miss. Madeleine Violet  female  13.00      0
448                     Baclini, Miss. Marie Catherine  female   5.00      2
469                      Baclini, Miss. Helene Barbara  female   0.75      2
479                           Hirvonen, Miss. Hildur E  female   2.00      0
504                              Maioni, Miss. Roberta  female  16.00      0
530                           Quick, Miss. Phyllis May  female   2.00      1
535                             Hart, Miss. Eva Miriam  female   7.00      0
541               Andersson, Miss. Ingeborg Constanzia  female   9.00      4
542                  Andersson, Miss. Sigrid Elisabeth  female  11.00      4
618                        Becker, Miss. Marion Louise  female   4.00      2
634                                 Skoog, Miss. Mabel  female   9.00      3
642                      Skoog, Miss. Margit Elizabeth  female   2.00      3
644                             Baclini, Miss. Eugenie  female   0.75      2
689                  Madill, Miss. Georgette Alexandra  female  15.00      0
691                                 Karun, Miss. Manca  female   4.00      0
720                  Harper, Miss. Annie Jessie "Nina"  female   6.00      0
750                                  Wells, Miss. Joan  female   4.00      1
777                      Emanuel, Miss. Virginia Ethel  female   5.00      0
780                               Ayoub, Miss. Banoura  female  13.00      0
781          Dick, Mrs. Albert Adrian (Vera Gillespie)  female  17.00      1
813                 Andersson, Miss. Ebba Iris Alfrida  female   6.00      4
830            Yasbeck, Mrs. Antoni (Selini Alexander)  female  15.00      1
852                            Boulos, Miss. Nourelain  female   9.00      1
853                          Lines, Miss. Mary Conover  female  16.00      0
875                   Najib, Miss. Adele Kiamie "Jane"  female  15.00      0

     Parch         Ticket      Fare    Cabin Embarked  Fare_per_Year  \
9        0         237736   30.0708      NaN        C       2.147914
10       1        PP 9549   16.7000       G6        S       4.175000
14       0         350406    7.8542      NaN        S       0.561014
22       0         330923    8.0292      NaN        Q       0.535280
24       1         349909   21.0750      NaN        S       2.634375
39       0           2651   11.2417      NaN        C       0.802979
43       2  SC/Paris 2123   41.5792      NaN        C      13.859733
58       2     C.A. 34651   27.7500      NaN        S       5.550000
68       2        3101281    7.9250      NaN        S       0.466176
71       2        CA 2144   46.9000      NaN        S       2.931250
84       0     SO/C 14885   10.5000      NaN        S       0.617647
111      0           2665   14.4542      NaN        C       0.996841
114      0           2627   14.4583      NaN        C       0.850488
119      2         347082   31.2750      NaN        S      15.637500
147      2     W./C. 6608   34.3750      NaN        S       3.819444
156      0          35851    7.7333      NaN        Q       0.483331
172      1         347742   11.1333      NaN        S      11.133300
184      2         315153   22.0250      NaN        S       5.506250
205      1         347054   10.4625       G6        S       5.231250
208      0         367231    7.7500      NaN        Q       0.484375
233      2         347077   31.3875      NaN        S       6.277500
237      2     C.A. 31921   26.2500      NaN        S       3.281250
297      2         113781  151.5500  C22 C26        S      75.775000
307      0       PC 17758  108.9000      C65        C       6.405882
329      1         111361   57.9792      B18        C       3.623700
374      1         349909   21.0750      NaN        S       7.025000
381      2           2653   15.7417      NaN        C      15.741700
389      0        SC 1748   12.0000      NaN        C       0.705882
419      2         345773   24.1500      NaN        S       2.415000
435      2         113760  120.0000  B96 B98        S       8.571429
446      1         250644   19.5000      NaN        S       1.500000
448      1           2666   19.2583      NaN        C       3.851660
469      1           2666   19.2583      NaN        C      25.677733
479      1        3101298   12.2875      NaN        S       6.143750
504      0         110152   86.5000      B79        S       5.406250
530      1          26360   26.0000      NaN        S      13.000000
535      2   F.C.C. 13529   26.2500      NaN        S       3.750000
541      2         347082   31.2750      NaN        S       3.475000
542      2         347082   31.2750      NaN        S       2.843182
618      1         230136   39.0000       F4        S       9.750000
634      2         347088   27.9000      NaN        S       3.100000
642      2         347088   27.9000      NaN        S      13.950000
644      1           2666   19.2583      NaN        C      25.677733
689      1          24160  211.3375       B5        S      14.089167
691      1         349256   13.4167      NaN        C       3.354175
720      1         248727   33.0000      NaN        S       5.500000
750      1          29103   23.0000      NaN        S       5.750000
777      0         364516   12.4750      NaN        S       2.495000
780      0           2687    7.2292      NaN        C       0.556092
781      0          17474   57.0000      B20        S       3.352941
813      2         347082   31.2750      NaN        S       5.212500
830      0           2659   14.4542      NaN        C       0.963613
852      1           2678   15.2458      NaN        C       1.693978
853      1       PC 17592   39.4000      D28        S       2.462500
875      0           2667    7.2250      NaN        C       0.481667

     Fare_per_class Age_Group
9         15.035400     child
10         5.566667     child
14         2.618067     child
22         2.676400     child
24         7.025000     child
39         3.747233     child
43        20.789600     child
58        13.875000     child
68         2.641667     child
71        15.633333     child
84         5.250000     child
111        4.818067     child
114        4.819433     child
119       10.425000     child
147       11.458333     child
156        2.577767     child
172        3.711100     child
184        7.341667     child
205        3.487500     child
208        2.583333     child
233       10.462500     child
237       13.125000     child
297      151.550000     child
307      108.900000     child
329       57.979200     child
374        7.025000     child
381        5.247233     child
389        6.000000     child
419        8.050000     child
435      120.000000     child
446        9.750000     child
448        6.419433     child
469        6.419433     child
479        4.095833     child
504       86.500000     child
530       13.000000     child
535       13.125000     child
541       10.425000     child
542       10.425000     child
618       19.500000     child
634        9.300000     child
642        9.300000     child
644        6.419433     child
689      211.337500     child
691        4.472233     child
720       16.500000     child
750       11.500000     child
777        4.158333     child
780        2.409733     child
781       57.000000     child
813       10.425000     child
830        4.818067     child
852        5.081933     child
853       39.400000     child
875        2.408333     child

In [73]:
# Subsetting Rows by Categorical variables

# Filter for passengers whose Embarked port is either "C" (Cherbourg) or "S" (Southampton) and assign it to embarked_c_or_s

embarked_c_or_s = dataset[(dataset['Embarked'] == 'C') | (dataset['Embarked'] == 'S')]
print("Filtering the dataset for passengers whose embarked port is either C or S:\n", embarked_c_or_s)

Filtering the dataset for passengers whose embarked port is either C or S:
      PassengerId  Survived  Pclass  \
0              1         0       3
1              2         1       1
2              3         1       3
3              4         1       1
4              5         0       3
..           ...       ...     ...
884          885         0       3
886          887         0       2
887          888         1       1
888          889         0       3
889          890         1       1

                                                  Name     Sex   Age  SibSp  \
0                              Braund, Mr. Owen Harris    male  22.0      1
1    Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                               Heikkinen, Miss. Laina  female  26.0      0
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                             Allen, Mr. William Henry    male  35.0      0
..                                                 ...     ...   ...    ...
884                             Sutehall, Mr. Henry Jr    male  25.0      0
886                              Montvila, Rev. Juozas    male  27.0      0
887                       Graham, Miss. Margaret Edith  female  19.0      0
888           Johnston, Miss. Catherine Helen "Carrie"  female   NaN      1
889                              Behr, Mr. Karl Howell    male  26.0      0

     Parch            Ticket     Fare Cabin Embarked  Fare_per_Year  \
0        0         A/5 21171   7.2500   NaN        S       0.329545
1        0          PC 17599  71.2833   C85        C       1.875876
2        0  STON/O2. 3101282   7.9250   NaN        S       0.304808
3        0            113803  53.1000  C123        S       1.517143
4        0            373450   8.0500   NaN        S       0.230000
..     ...               ...      ...   ...      ...            ...
884      0   SOTON/OQ 392076   7.0500   NaN        S       0.282000
886      0            211536  13.0000   NaN        S       0.481481
887      0            112053  30.0000   B42        S       1.578947
888      2        W./C. 6607  23.4500   NaN        S            NaN
889      0            111369  30.0000  C148        C       1.153846

     Fare_per_class Age_Group
0          2.416667     adult
1         71.283300     adult
2          2.641667     adult
3         53.100000     adult
4          2.683333     adult
..              ...       ...
884        2.350000     adult
886        6.500000     adult
887       30.000000     adult
888        7.816667       NaN
889       30.000000     adult

[812 rows x 15 columns]

In [74]:
# filter for passengers whose Pclass is in the list [1, 2] (indicating first or second class)

first_second_class = dataset[dataset['Pclass'].isin([1, 2])]
print("Filtering the dataset for passengers whose Pclass is in the list[1,2]:\n", first_second_class)

Filtering the dataset for passengers whose Pclass is in the list[1,2]:
      PassengerId  Survived  Pclass  \
1              2         1       1
3              4         1       1
6              7         0       1
9             10         1       2
11            12         1       1
..           ...       ...     ...
880          881         1       2
883          884         0       2
886          887         0       2
887          888         1       1
889          890         1       1

                                                  Name     Sex   Age  SibSp  \
1    Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
6                              McCarthy, Mr. Timothy J    male  54.0      0
9                  Nasser, Mrs. Nicholas (Adele Achem)  female  14.0      1
11                            Bonnell, Miss. Elizabeth  female  58.0      0
..                                                 ...     ...   ...    ...
880       Shelley, Mrs. William (Imanita Parrish Hall)  female  25.0      0
883                      Banfield, Mr. Frederick James    male  28.0      0
886                              Montvila, Rev. Juozas    male  27.0      0
887                       Graham, Miss. Margaret Edith  female  19.0      0
889                              Behr, Mr. Karl Howell    male  26.0      0

     Parch            Ticket     Fare Cabin Embarked  Fare_per_Year  \
1        0          PC 17599  71.2833   C85        C       1.875876
3        0            113803  53.1000  C123        S       1.517143
6        0             17463  51.8625   E46        S       0.960417
9        0            237736  30.0708   NaN        C       2.147914
11       0            113783  26.5500  C103        S       0.457759
..     ...               ...      ...   ...      ...            ...
880      1            230433  26.0000   NaN        S       1.040000
883      0  C.A./SOTON 34068  10.5000   NaN        S       0.375000
886      0            211536  13.0000   NaN        S       0.481481
887      0            112053  30.0000   B42        S       1.578947
889      0            111369  30.0000  C148        C       1.153846

     Fare_per_class Age_Group
1           71.2833     adult
3           53.1000     adult
6           51.8625     adult
9           15.0354     child
11          26.5500     adult
..              ...       ...
880         13.0000     adult
883          5.2500     adult
886          6.5000     adult
887         30.0000     adult
889         30.0000     adult

[400 rows x 15 columns]

#3.2 Exploratory Data Analysis
##Practice Exercise - 1

Which passenger had the highest fare paid relative to their age?

To answer the question perform following operations:
1. Add a column to the Titanic dataset, fare per year, containing the fare divided by the age of
the passenger(i.e., Fare/Age).
2. Subset rows where fare per year is higher than 5, assigning this to high fare age.
3. Sort high fare age by descending fare per year, assigning this to high fare age srt.
4. Select only the Name and fare per year columns of high fare age srt and save the result as result.
5. Look at the result.

In [75]:
# Add a column for fare per year, containing the fare divided by the age of the passenger

dataset['Fare_per_Year'] = dataset['Fare'] / dataset['Age']
print("The dataset with added colum fare per year is:\n",dataset.head())

The dataset with added colum fare per year is:
    PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare Cabin Embarked  Fare_per_Year  \
0      0         A/5 21171   7.2500   NaN        S       0.329545
1      0          PC 17599  71.2833   C85        C       1.875876
2      0  STON/O2. 3101282   7.9250   NaN        S       0.304808
3      0            113803  53.1000  C123        S       1.517143
4      0            373450   8.0500   NaN        S       0.230000

   Fare_per_class Age_Group
0        2.416667     adult
1       71.283300     adult
2        2.641667     adult
3       53.100000     adult
4        2.683333     adult

In [76]:
# Subset rows where fare per year is higher than 5, assigning this to high_fare_age

high_fare_age = dataset[dataset['Fare_per_Year'] > 5]
print("The subset of rows where fare_per_Year is higher than 5 is:\n", high_fare_age)

The subset of rows where fare_per_Year is higher than 5 is:
      PassengerId  Survived  Pclass                                      Name  \
7              8         0       3            Palsson, Master. Gosta Leonard
16            17         0       3                      Rice, Master. Eugene
27            28         0       1            Fortune, Mr. Charles Alexander
43            44         1       2  Laroche, Miss. Simonne Marie Anne Andree
50            51         0       3                Panula, Master. Juha Niilo
..           ...       ...     ...                                       ...
813          814         0       3        Andersson, Miss. Ebba Iris Alfrida
824          825         0       3              Panula, Master. Urho Abraham
827          828         1       2                     Mallet, Master. Andre
831          832         1       2           Richards, Master. George Sibley
850          851         0       3   Andersson, Master. Sigvard Harald Elias

        Sex    Age  SibSp  Parch           Ticket      Fare        Cabin  \
7      male   2.00      3      1           349909   21.0750          NaN
16     male   2.00      4      1           382652   29.1250          NaN
27     male  19.00      3      2            19950  263.0000  C23 C25 C27
43   female   3.00      1      2    SC/Paris 2123   41.5792          NaN
50     male   7.00      4      1          3101295   39.6875          NaN
..      ...    ...    ...    ...              ...       ...          ...
813  female   6.00      4      2           347082   31.2750          NaN
824    male   2.00      4      1          3101295   39.6875          NaN
827    male   1.00      0      2  S.C./PARIS 2079   37.0042          NaN
831    male   0.83      1      1            29106   18.7500          NaN
850    male   4.00      4      2           347082   31.2750          NaN

    Embarked  Fare_per_Year  Fare_per_class Age_Group
7          S      10.537500        7.025000     child
16         Q      14.562500        9.708333     child
27         S      13.842105      263.000000     adult
43         C      13.859733       20.789600     child
50         S       5.669643       13.229167     child
..       ...            ...             ...       ...
813        S       5.212500       10.425000     child
824        S      19.843750       13.229167     child
827        C      37.004200       18.502100     child
831        S      22.590361        9.375000     child
850        S       7.818750       10.425000     child

[68 rows x 15 columns]

In [77]:
# Sort high fare age by descending fare per year, assigning this to high fare age srt.

high_fare_age_srt = high_fare_age.sort_values(by='Fare_per_Year', ascending=False)
print("Sorting high fare age in descending order:\n",high_fare_age_srt)

Sorting high fare age in descending order:
      PassengerId  Survived  Pclass                                    Name  \
305          306         1       1          Allison, Master. Hudson Trevor
297          298         0       1            Allison, Miss. Helen Loraine
386          387         0       3         Goodwin, Master. Sidney Leonard
164          165         0       3            Panula, Master. Eino Viljami
183          184         1       2               Becker, Master. Richard F
..           ...       ...     ...                                     ...
318          319         1       1                Wick, Miss. Mary Natalie
348          349         1       3  Coutts, Master. William Loch "William"
205          206         0       3              Strom, Miss. Telma Matilda
813          814         0       3      Andersson, Miss. Ebba Iris Alfrida
480          481         0       3          Goodwin, Master. Harold Victor

        Sex    Age  SibSp  Parch      Ticket      Fare    Cabin Embarked  \
305    male   0.92      1      2      113781  151.5500  C22 C26        S
297  female   2.00      1      2      113781  151.5500  C22 C26        S
386    male   1.00      5      2     CA 2144   46.9000      NaN        S
164    male   1.00      4      1     3101295   39.6875      NaN        S
183    male   1.00      2      1      230136   39.0000       F4        S
..      ...    ...    ...    ...         ...       ...      ...      ...
318  female  31.00      0      2       36928  164.8667       C7        S
348    male   3.00      1      1  C.A. 37671   15.9000      NaN        S
205  female   2.00      0      1      347054   10.4625       G6        S
813  female   6.00      4      2      347082   31.2750      NaN        S
480    male   9.00      5      2     CA 2144   46.9000      NaN        S

     Fare_per_Year  Fare_per_class Age_Group
305     164.728261      151.550000     child
297      75.775000      151.550000     child
386      46.900000       15.633333     child
164      39.687500       13.229167     child
183      39.000000       19.500000     child
..             ...             ...       ...
318       5.318281      164.866700     adult
348       5.300000        5.300000     child
205       5.231250        3.487500     child
813       5.212500       10.425000     child
480       5.211111       15.633333     child

[68 rows x 15 columns]

In [78]:
# Select only the Name and fare per year columns of high fare age srt and save the result as result.

result = high_fare_age_srt[['Name', 'Fare_per_Year']]
print("Result of selecting only the Name and Fare_per_Year is:\n",result)

Result of selecting only the Name and Fare_per_Year is:
                                        Name  Fare_per_Year
305          Allison, Master. Hudson Trevor     164.728261
297            Allison, Miss. Helen Loraine      75.775000
386         Goodwin, Master. Sidney Leonard      46.900000
164            Panula, Master. Eino Viljami      39.687500
183               Becker, Master. Richard F      39.000000
..                                      ...            ...
318                Wick, Miss. Mary Natalie       5.318281
348  Coutts, Master. William Loch "William"       5.300000
205              Strom, Miss. Telma Matilda       5.231250
813      Andersson, Miss. Ebba Iris Alfrida       5.212500
480          Goodwin, Master. Harold Victor       5.211111

[68 rows x 2 columns]

Here, Allison, Master. Hudson Trevor has the highest fare paid relative to age.

Which adult male passenger (age ≥ 18 and Sex is ’male’) paid the highest fare relative to their
class?

To answer the question perform following operations:
1. Add a column to the Titanic dataset, fare per class, containing the fare divided by the passenger
class i.e. Fare / Pclass.
2. Subset rows where the passenger is male (Sex is ”male”) and an adult (Age is greater than or equal
to 18), assigning this to adult males.
3. Sort adult males by descending fare per class, assigning this to adult males srt.
4. Select only the Name, Age, and fare per class columns of adult males srt and save the result
as result.
5. Look at the result.

In [80]:
# add a column for fare_per_class, containing the fare divided by the passenger class

dataset['Fare_per_class'] = dataset['Fare'] / dataset['Pclass']
print("Dataset after adding new column Fare_per_class is:\n", dataset.head())

Dataset after adding new column Fare_per_class is:
    PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare Cabin Embarked  Fare_per_Year  \
0      0         A/5 21171   7.2500   NaN        S       0.329545
1      0          PC 17599  71.2833   C85        C       1.875876
2      0  STON/O2. 3101282   7.9250   NaN        S       0.304808
3      0            113803  53.1000  C123        S       1.517143
4      0            373450   8.0500   NaN        S       0.230000

   Fare_per_class Age_Group
0        2.416667     adult
1       71.283300     adult
2        2.641667     adult
3       53.100000     adult
4        2.683333     adult

In [81]:
# subset rows wehre passenger is male and an adult and assert to adult_males

adult_males = dataset[(dataset['Sex'] == "male") & (dataset['Age'] >= 18)]
print("Subset of rows where passenger is an adult male is:\n", adult_males)

Subset of rows where passenger is an adult male is:
      PassengerId  Survived  Pclass                            Name   Sex  \
0              1         0       3         Braund, Mr. Owen Harris  male
4              5         0       3        Allen, Mr. William Henry  male
6              7         0       1         McCarthy, Mr. Timothy J  male
12            13         0       3  Saundercock, Mr. William Henry  male
13            14         0       3     Andersson, Mr. Anders Johan  male
..           ...       ...     ...                             ...   ...
883          884         0       2   Banfield, Mr. Frederick James  male
884          885         0       3          Sutehall, Mr. Henry Jr  male
886          887         0       2           Montvila, Rev. Juozas  male
889          890         1       1           Behr, Mr. Karl Howell  male
890          891         0       3             Dooley, Mr. Patrick  male

      Age  SibSp  Parch            Ticket     Fare Cabin Embarked  \
0    22.0      1      0         A/5 21171   7.2500   NaN        S
4    35.0      0      0            373450   8.0500   NaN        S
6    54.0      0      0             17463  51.8625   E46        S
12   20.0      0      0         A/5. 2151   8.0500   NaN        S
13   39.0      1      5            347082  31.2750   NaN        S
..    ...    ...    ...               ...      ...   ...      ...
883  28.0      0      0  C.A./SOTON 34068  10.5000   NaN        S
884  25.0      0      0   SOTON/OQ 392076   7.0500   NaN        S
886  27.0      0      0            211536  13.0000   NaN        S
889  26.0      0      0            111369  30.0000  C148        C
890  32.0      0      0            370376   7.7500   NaN        Q

     Fare_per_Year  Fare_per_class Age_Group
0         0.329545        2.416667     adult
4         0.230000        2.683333     adult
6         0.960417       51.862500     adult
12        0.402500        2.683333     adult
13        0.801923       10.425000     adult
..             ...             ...       ...
883       0.375000        5.250000     adult
884       0.282000        2.350000     adult
886       0.481481        6.500000     adult
889       1.153846       30.000000     adult
890       0.242188        2.583333     adult

[395 rows x 15 columns]

In [82]:
# Sort adult males by descending fare per class, assigning this to adult_males_srt

adult_males_srt = adult_males.sort_values(by='Fare_per_class', ascending=False)
print("Sorting adult males by descending of fare per class:\n", adult_males_srt)

Sorting adult males by descending of fare per class:
      PassengerId  Survived  Pclass                                Name   Sex  \
737          738         1       1              Lesurer, Mr. Gustave J  male
679          680         1       1  Cardeza, Mr. Thomas Drake Martinez  male
27            28         0       1      Fortune, Mr. Charles Alexander  male
438          439         0       1                   Fortune, Mr. Mark  male
118          119         0       1            Baxter, Mr. Quigg Edmond  male
..           ...       ...     ...                                 ...   ...
271          272         1       3        Tornquist, Mr. William Henry  male
179          180         0       3                 Leonard, Mr. Lionel  male
302          303         0       3     Johnson, Mr. William Cahoone Jr  male
822          823         0       1     Reuchlin, Jonkheer. John George  male
806          807         0       1              Andrews, Mr. Thomas Jr  male

      Age  SibSp  Parch    Ticket      Fare        Cabin Embarked  \
737  35.0      0      0  PC 17755  512.3292         B101        C
679  36.0      0      1  PC 17755  512.3292  B51 B53 B55        C
27   19.0      3      2     19950  263.0000  C23 C25 C27        S
438  64.0      1      4     19950  263.0000  C23 C25 C27        S
118  24.0      0      1  PC 17558  247.5208      B58 B60        C
..    ...    ...    ...       ...       ...          ...      ...
271  25.0      0      0      LINE    0.0000          NaN        S
179  36.0      0      0      LINE    0.0000          NaN        S
302  19.0      0      0      LINE    0.0000          NaN        S
822  38.0      0      0     19972    0.0000          NaN        S
806  39.0      0      0    112050    0.0000          A36        S

     Fare_per_Year  Fare_per_class Age_Group
737      14.637977        512.3292     adult
679      14.231367        512.3292     adult
27       13.842105        263.0000     adult
438       4.109375        263.0000     adult
118      10.313367        247.5208     adult
..             ...             ...       ...
271       0.000000          0.0000     adult
179       0.000000          0.0000     adult
302       0.000000          0.0000     adult
822       0.000000          0.0000     adult
806       0.000000          0.0000     adult

[395 rows x 15 columns]

In [83]:
# Select only the Name, Age, and fare per class columns of adult males srt and save the result as result.

result = adult_males_srt[['Name', 'Age', 'Fare_per_class']]
print("Selection of only Name, Age and Fare_per_Class of adult_males_srt is:\n", result)

Selection of only Name, Age and Fare_per_Class of adult_males_srt is:
                                    Name   Age  Fare_per_class
737              Lesurer, Mr. Gustave J  35.0        512.3292
679  Cardeza, Mr. Thomas Drake Martinez  36.0        512.3292
27       Fortune, Mr. Charles Alexander  19.0        263.0000
438                   Fortune, Mr. Mark  64.0        263.0000
118            Baxter, Mr. Quigg Edmond  24.0        247.5208
..                                  ...   ...             ...
271        Tornquist, Mr. William Henry  25.0          0.0000
179                 Leonard, Mr. Lionel  36.0          0.0000
302     Johnson, Mr. William Cahoone Jr  19.0          0.0000
822     Reuchlin, Jonkheer. John George  38.0          0.0000
806              Andrews, Mr. Thomas Jr  39.0          0.0000

[395 rows x 3 columns]

Which adult male passenger (age ≥ 18 and Sex is ’male’) paid the highest fare relative to their class?

Answer: Lesurer, Mr. Gustave J and Cardeza, Mr. Thomas Drake Martine have the highest fare relative to their class.

#3.3 Exploratory Data Analysis with Group-by Method Practice Exercise:
##Based on the dataset Answer the following question:
###What percent of the total fare revenue came from each passenger class?

To answer the question perform following operation:
1. Calculate the total Fare paid across all passengers in the Titanic dataset.
2. Subset for passengers in first class (Pclass is 1) and calculate their total fare.
3. Do the same for second class (Pclass is 2) and third class (Pclass is 3).
4. Combine the fare totals from first, second, and third classes into a list.
5. Divide the totals for each class by the overall total fare to get the proportion of fare revenue by class.

In [84]:
# Calculate the total Fare paid across all passengers in the Titanic dataset

total_fare = dataset['Fare'].sum()
print("The sum of all the Fare is: ", total_fare)

The sum of all the Fare is:  28693.9493

In [85]:
# Subset for passengers in first class (Pclass is 1) and calculate their total fare

first_class = dataset[dataset['Pclass'] == 1]
total_fare1 = first_class['Fare'].sum()
print("The sum of all the First Class fare is: ", total_fare1)

The sum of all the First Class fare is:  18177.4125

In [86]:
# Do the same for second class (Pclass is 2) and third class (Pclass is 3).

second_class = dataset[dataset['Pclass'] == 2]
total_fare2 = second_class['Fare'].sum()
print("Total fare of second class is: ", total_fare2)

third_class = dataset[dataset['Pclass'] == 3]
total_fare3 = third_class['Fare'].sum()
print("Total fare of third class is: ", total_fare3)

Total fare of second class is:  3801.8417
Total fare of third class is:  6714.6951

In [87]:
# Combine the fare totals from first, second, and third classes into a list.

fare_list = [total_fare1, total_fare2, total_fare3]
print("List of total fares of first, second and third classes is: ", fare_list)

List of total fares of first, second and third classes is:  [18177.4125, 3801.8417, 6714.6951]

In [88]:
# Divide the totals for each class by the overall total fare to get the proportion of fare revenue by class.

proportion_list = [total_fare1/total_fare, total_fare2/total_fare, total_fare3/total_fare]
print("The proportion of total fares of first, second and third classes is: ", proportion_list)

The proportion of total fares of first, second and third classes is:  [0.6334928771899656, 0.1324962855496507, 0.23401083726038366]

##Based on the dataset Answer the following question:

###What percent of the total number of passengers on the Titanic belonged to each age group(e.g., child, adult, senior)?

To answer the question perform following operation:
1. Create a new column, age group, that categorizes passengers into "child" (age < 18), "adult" (age
18{64), and "senior" (age 65 and above).
2. Calculate the total number of passengers on the Titanic.
3. Count the number of passengers in each age group.
4. Divide the count of each age group by the total number of passengers to get the proportion of passengers
in each age group.
5. Display the proportion as a percentage.

In [89]:
# Create a new column, age group, that categorizes passengers into "child" (age < 18), "adult" (age 18{64), and "senior" (age 65 and above).

dataset['Age_Group'] = pd.cut(dataset['Age'], bins=[0, 18, 64, float('inf')], labels=['child', 'adult', 'senior'])
print("Dataset after adding new column, Age_Group is:\n", dataset.head())

Dataset after adding new column, Age_Group is:
    PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare Cabin Embarked  Fare_per_Year  \
0      0         A/5 21171   7.2500   NaN        S       0.329545
1      0          PC 17599  71.2833   C85        C       1.875876
2      0  STON/O2. 3101282   7.9250   NaN        S       0.304808
3      0            113803  53.1000  C123        S       1.517143
4      0            373450   8.0500   NaN        S       0.230000

   Fare_per_class Age_Group
0        2.416667     adult
1       71.283300     adult
2        2.641667     adult
3       53.100000     adult
4        2.683333     adult

In [90]:
# Calculate the total number of passengers on the Titanic.

total_passengers = len(dataset)
print("The total number of passengers is: ", total_passengers)

The total number of passengers is:  891

In [91]:
# Count the number of passengers in each age group.

age_group_counts = dataset['Age_Group'].value_counts()
print("The total number of passengers in each age group is:\n", age_group_counts)

The total number of passengers in each age group is:
 Age_Group
adult     564
child     139
senior     11
Name: count, dtype: int64

In [92]:
# Divide the count of each age group by the total number of passengers to get the proportion of passengers in each age group.

age_group_proportions = age_group_counts / total_passengers
print("The proportions of age group counts is:\n", age_group_proportions)

The proportions of age group counts is:
 Age_Group
adult     0.632997
child     0.156004
senior    0.012346
Name: count, dtype: float64

In [93]:
# Display the proportion as a percentage.

age_group_percentages = age_group_proportions * 100
print("The percentage of age group counts is:\n", age_group_percentages)

The percentage of age group counts is:
 Age_Group
adult     63.299663
child     15.600449
senior     1.234568
Name: count, dtype: float64